*{
    font-family: 'Open Sans';
}

#navbar img{
    width: 50px;
    margin-left: 15px;
}

.nav-item{
    padding: 20px;
}

footer{
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
}